* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url(/src/assets/Bild1.png);
}

.nav {
  background-color: #ff8500;
  color: white;
  display: inline;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  height: 150px;
  padding-left: 35%;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  box-sizing: border-box;
  min-height: 80px;
  padding: 0 15px;
}

.nav a {
  color: inherit;
  text-decoration: none;
}

.nav li.active {
  background-color: #555;
}

.nav li:hover {
  background-color: #777;
}

.nav img {
  height: 150px;
}
